.section_alimentation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 5px;
  margin-right: 5rem;
  margin-top: -40.2rem;
}
.section_alimentation #calories,
.section_alimentation #protein,
.section_alimentation #carbohydrate,
.section_alimentation #lipid {
  background-color: #fbfbfb;
  width: 258px;
  height: 124px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.section_alimentation .margin {
  margin-bottom: 48px;
}
.section_alimentation .section_img {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 4;
  top: 32px;
  left: 32px;
  right: 32px;
}
.section_alimentation .section_img-end {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 4;
  top: 32px;
  left: 32px;
  right: 32px;
}
.section_alimentation .section_text {
  position: absolute;
}