.homepage {
  width: 1440px;
  height: 91px;
}
.homepage .header {
  position: relative;
  background-color: black;
}
.homepage .header .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage .header .header__logo .logo {
  width: 178px;
  height: 60px;
  margin-left: 29px;
}
.homepage .header .header__logo .header__nav {
  display: flex;
  list-style-type: none;
  color: #fff;
  font-size: 24px;
  margin-right: 87px;
  font-weight: 500;
}
.homepage .header .header__logo .header__nav .header__nav-item {
  padding-right: 204px;
}
.homepage .header__aside {
  position: relative;
  background-color: black;
  transform: rotate(90deg);
  top: 28rem;
  right: 453px;
  width: 1024px;
  height: 117px;
}
.homepage .header__aside .header__aside-item {
  display: flex;
  justify-content: center;
}
.homepage .header__aside .header__aside-item .header__aside-img {
  transform: rotate(-90deg);
  margin-right: 20px;
  margin-top: 30px;
}
.homepage .header__aside .header__aside-text {
  transform: rotate(180deg);
  color: #fff;
  margin-top: -42px;
  height: 24px;
  padding-left: 59px;
  font-size: 12px;
  font-weight: 500;
}
.homepage .homepage__section {
  width: 1126px;
  height: 779px;
  margin: 0px 0px 0px 224px;
}
.homepage .homepage__section .homepage__section-item h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.homepage .homepage__section .homepage__section-item p {
  font-size: 18px;
}
.homepage .homepage__section .activities {
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 835px;
  height: 320px;
  margin-top: 33px;
}
.homepage .homepage__section .performance {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 58px;
}
.homepage .homepage__section .performance .objective,
.homepage .homepage__section .performance .radar,
.homepage .homepage__section .performance .kpi {
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 258px;
  height: 263px;
  margin-right: 30px;
}
.homepage .homepage__section .performance .radar {
  background-color: #282d30;
}