.homepage {
  width: 1440px;
  height: 91px;
}
.homepage .header {
  position: relative;
  background-color: black;
}
.homepage .header .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage .header .header__logo .logo {
  width: 178px;
  height: 60px;
  margin-left: 29px;
}
.homepage .header .header__logo .header__nav {
  display: flex;
  list-style-type: none;
  color: #fff;
  font-size: 24px;
  margin-right: 87px;
  font-weight: 500;
}
.homepage .header .header__logo .header__nav .header__nav-item {
  padding-right: 204px;
}
.homepage .header__aside {
  position: relative;
  background-color: black;
  transform: rotate(90deg);
  top: 28rem;
  right: 453px;
  width: 1024px;
  height: 117px;
}
.homepage .header__aside .header__aside-item {
  display: flex;
  justify-content: center;
}
.homepage .header__aside .header__aside-item .header__aside-img {
  transform: rotate(-90deg);
  margin-right: 20px;
  margin-top: 30px;
}
.homepage .header__aside .header__aside-text {
  transform: rotate(180deg);
  color: #fff;
  margin-top: -42px;
  height: 24px;
  padding-left: 59px;
  font-size: 12px;
  font-weight: 500;
}
.homepage .homepage__section {
  width: 835px;
  height: 779px;
  border: solid 4px red;
  margin-left: 224px;
}
.homepage .section_alimentation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 5px;
  margin-right: 4rem;
  margin-top: -42rem;
}
.homepage .section_alimentation .calories,
.homepage .section_alimentation .protein,
.homepage .section_alimentation .carbohydrate,
.homepage .section_alimentation .lipid {
  background-color: #fbfbfb;
  width: 258px;
  height: 124px;
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
}
.homepage .section_alimentation .section_img {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 4;
  top: 32px;
  left: 32px;
  right: 32px;
}
.homepage .section_alimentation .section_img-end {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 4;
  top: 32px;
  left: 32px;
  right: 32px;
}