.homepage__section-item h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}
.homepage__section-item h1 Span {
  color: #e60000;
  margin-left: 20px;
}
.homepage__section-item p {
  margin-top: 30px;
  font-size: 18px;
}