.homepage {
  width: 1440px;
  height: 91px;
  .header {
    position: relative;
    background-color: black;
    .header__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 178px;
        height: 60px;
        margin-left: 29px;
      }
      .header__nav {
        display: flex;
        list-style-type: none;
        color: #fff;
        font-size: 24px;
        margin-right: 87px;
        font-weight: 500;
        .header__nav-item {
          padding-right: 204px;
        }
      }
    }
  }
  .header__aside {
    position: relative;
    background-color: black;
    transform: rotate(90deg);
    top: 28rem;
    right: 453px;
    width: 1024px;
    height: 117px;
    .header__aside-item {
      display: flex;
      justify-content: center;
      .header__aside-img {
        transform: rotate(-90deg);
        margin-right: 20px;
        margin-top: 30px;
      }
    }
    .header__aside-text {
      transform: rotate(180deg);
      color: #fff;
      margin-top: -42px;
      height: 24px;
      padding-left: 59px;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .homepage__section {
    width: 1126px;
    height: 779px;
    margin: 0px 0px 0px 224px;

    .activities {
      background-color: #fbfbfb;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 835px;
      height: 320px;
      margin-top: 33px;
    }
    .performance {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 58px;
      .objective,
      .radar,
      .kpi {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 258px;
        height: 263px;
        margin-right: 30px;
      }
      .radar {
        background-color: #282d30;
      }
      .objective {
        background-color: #ff0000;
      }
      .kpi {
        background-color: #fbfbfb;
      }
    }
  }
}
