.container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  .daily-activity {
    margin-left: 3.5rem;
    color: #20253a;
    font-weight: 500;
  }
  .activities-container {
    display: flex;
    .kilo {
      margin-right: 3.5rem;
      color: #9b9eac;
      span {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-color: #ff0000;
      }
    }
    .cal {
      margin-right: 3.5rem;
      color: #9b9eac;
      span {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 1rem;
        border-radius: 50%;
        background-color: #282d30;
      }
    }
  }
}
